# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.env/
env/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Datos descargados por scikit-learn (se regeneran automáticamente)
~/scikit_learn_data/
